/* main nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

li {
    float: left;
}

/*  'li' right-hand side of nav bar */
.rightSided {
    float: right;
}

/*individual sectors of nav bar */
li a {
    display:  block;
    padding: 14px 16px;
    text-align: center;
    font-size: xx-large;
}

/* effect to change color per link */
li a:hover {
    background-color: green;
}